.ImagePage {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 60% 40%;
    /* grid-template-columns: 1fr .6fr; */
    grid-column-gap: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    position: relative;
}

.AnnotationInfo {
    text-align: left;
    padding-left: none;
    list-style: none;
}

ul {
    padding-left: 0;
}

@media (max-width: 1024px) {
    .ImagePage {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
    .AnnotationInfo {
      grid-row: 2;
    }
  }

@media (max-width: 768px) {
    .ImagePage {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
    .AnnotationInfo {
      grid-row: 2;
    }
  }
